---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Welcome</h1>
  <p>
    Hi, I'm Kieren — a software engineer based in Queensland, Australia. I build
    things on the web and wanted a place to share what I am building and what I
    am learning.
  </p>
  <p>
    Right now I'm working as a Senior Web Developer at Michael Hill Feel free to
    poke around the <a href="/blog">blog</a> or read more <a href="/about"
      >about me</a
    >.
  </p>
</BaseLayout>
